header,footer,section {
/*    border:1em black; */
    margin:.5em;
    padding:.5em;
}
header,footer {
    color:white;
    background-color:darkred;
    margin-bottom:.25em;
}
footer {
	clear: both;
}
body {
	font-family: sans-serif, serif;
	color: black;
	background-color: firebrick;
}
section {
	float: left;
	width: 60%;
    color:white;
    background-color:darkred;
}
aside {
	float:right;
	width: 40%;
}
/* navigation menu bar template based on id */
#nav_header,#nav_footer {
    background-color:darkred;
}
#nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#nav_li {
  float: left;
  border-right:.1em solid grey;
}
#nav_a {
  display: block;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}
#nav_a:hover {
  background-color: darkslategrey;
}
.active {
  background-color: darkslategrey;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
p {
	font-size: 1em;
}
a:hover {
	text-decoration:underline;
}
nav:hover {
	background: gray
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  section {
    width: 100%;
  }
}
