<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

# SET INDEX OPTIONS
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble

# IGNORE THESE FILES
IndexIgnore .htaccess .ftpquota .DS_Store icons *.ico *.html *.css *.log *,v *,t .??* *~ *#

# SPECIFY HEADER FILE
HeaderName people_header.html
 
# SPECIFY FOOTER FILE
ReadmeName people_footer.html
